<%= turbo_stream.update "entry_modal" do %>
  <div id="entry_modal" class="hidden"></div>
<% end %>

<%= turbo_stream.update "flash-message", partial: 'shared/flash' %>

<%= turbo_stream.update 'calendar', partial: "calendars/calendar", locals: { calendar: entry.calendar } %>

<%= turbo_stream.replace "entry_#{entry.registration_date}", entry %>
