<div class="container-wrapper py-10">
  <div class="bg-light-ochre rounded-2xl shadow-xl overflow-hidden">
    <div class="bg-dark-ochre px-6 py-6 rounded-t-2xl">
      <h1 class="text-white text-2xl font-bold tracking-wide"><%= title %></h1>
    </div>

      <%= yield %>
  </div>
</div>
