<div class="container-wrapper w-full fixed top-16 left-1/2 -translate-x-1/2 z-10">
  <% if flash[:notice] %>
    <div class="flex justify-end mb-2">
      <div class="flex items-center gap-3 max-w-xs rounded-lg border border-green-500 bg-green-50 px-4 py-3 text-sm text-green-800 shadow-md animate-fade-out">
        <span><%= flash[:notice] %></span>
      </div>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="flex justify-end">
      <div class="flex items-center gap-3 max-w-xs rounded-lg border border-red-500 bg-red-50 px-4 py-3 text-sm text-red-800 shadow-md animate-fade-out">
        <span><%= flash[:alert] %></span>
      </div>
    </div>
  <% end %>
</div>
