<footer class="z-40 bg-gray-300 w-full h-16">
  <div class="text-sm h-full container mx-auto flex items-center justify-between px-5">
    <%= link_to 'プライバシーポリシー', page_path('privacy') %>
    <%= link_to '利用規約', page_path('terms') %>
    <%= link_to 'GitHub', 'https://github.com/hagiya0121/fjord-calendar' %>
    <div>&copy; <%= Time.current.year %> hagi</div>
  </div>
</footer>
