<div class="rounded-lg border border-blue-500 bg-blue-50 px-4 py-4 text-blue-800 shadow-md text-sm">
  <div class="font-semibold mb-2 flex flex-col sm:flex-row sm:justify-between items-start">
    <% if calendar.open? %>
      <p><%= "#{calendar.max_entries}周目のカレンダー登録が始まりました！" %></p>
    <% else %>
      <p>このアドベントカレンダーは終了しました</p>
    <% end %>

    <p>登録人数: <%= calendar.entries.size %> / <%= 25 * calendar.max_entries %></p>
  </div>

  <% if calendar.open? %>
    <p>＋ボタンを押してカレンダーに登録しよう</p>
  <% else %>
    <p>ご参加ありがとうございました！</p>
  <% end %>
</div>
