<% title 'トップページ' %>

<div class="container-wrapper" data-controller="anchor-scroll">
  <section class="py-10 mb-8 px-2 text-center text-white">
    <h1 class="mb-4">
      <%= image_tag 'logo.png', alt: 'ロゴ', class: 'h-[300px] md:h-[400px] mx-auto' %>
    </h1>
    <p class="drop-shadow-md text-lg font-bold tracking-wider">Fjord Bootcampのアドベントカレンダー</p>
    <% if current_user&.admin? && !Calendar.exists?(year: Time.current.year) %>
      <%= link_to '今年のカレンダーを作成する', new_calendar_path,
                  class: 'login-button bg-[#65B1DF] mt-8 inline-block' %>
    <% end %>
  </section>

  <% if @calendars.empty? %>
    <div class="bg-light-ochre/80 rounded-lg min-h-72 flex items-center justify-center px-4">
      <div class="text-center space-y-3">
        <i class="fas fa-calendar-times text-4xl"></i>
        <p class="text-lg font-semibold">登録されたカレンダーはありません</p>
      </div>
    </div>
  <% end %>

  <% @calendars.each do |calendar| %>
    <div class="mb-10">
      <%= render 'calendar_index', calendar: calendar %>
    </div>

  <% end %>
</div>
