<% title 'トップページ' %>

<section class="py-10 mb-8 px-2">
  <h1 class="mb-4">
    <%= image_tag 'logo.png', alt: 'ロゴ', class: 'h-[300px] md:h-[400px] mx-auto' %>
  </h1>
  <p class="drop-shadow-md text-lg font-bold text-center tracking-wider">Fjord Bootcampのアドベントカレンダー</p>
</section>

<div class="container-wrapper">
  <% @calendars.each do |calendar| %>
    <article class="mb-10">
      <%= link_to calendar_path(calendar),
                  data: { test: 'calendar', year: calendar.year },
                  class: 'bg-ochre block p-6 rounded-xl shadow-xl space-y-4 hover-border-white' do %>
        <h2 class="drop-shadow-md text-lg font-bold text-center"><%= calendar.title %></h2>
        <%= render 'calendar_index', entries: calendar.entries %>
      <% end %>
    </article>
  <% end %>
</div>
