<div class="bg-gray-100 p-2 my-2">
  <div class="<%= class_names(
                    'bg-white grid',
                    { 'grid-cols-7' => index_action?,
                      'grid-cols-1 sm:grid-cols-7' => !index_action? }
                  ) %>">

    <% unless index_action? %>
      <% date_range.first(7).each do |day| %>
        <div class="py-2 text-center font-semibold
                  text-gray-600 border-b bg-gray-200 max-sm:hidden">
          <%= t('date.abbr_day_names')[day.wday] %>
        </div>
      <% end %>

      <% start_weekday(start_date.year).times do %>
        <div data-test="offset_cell" class="aspect-square p-2 border border-gray-300 bg-gray-100 max-sm:hidden"></div>
      <% end %>
    <% end %>

    <% advent_dates(start_date.year).each do |date| %>
      <div data-test="day-<%= date.day %>"
           class="<%= class_names(
                        'p-1 border border-gray-300 flex justify-between',
                        { 'aspect-square' => index_action?,
                          'aspect-[4/1] sm:aspect-square' => !index_action?,
                          'bg-yellow-100' => date == Time.zone.today }
                      ) %>">
        <% instance_exec(date, calendar.sorted_events_for(date), &passed_block) %>
      </div>
    <% end %>
  </div>
</div>
